@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

body {
    /* Créer un dégradé linéaire incliné avec des lignes découpées en petits morceaux */
    background: repeating-linear-gradient(
        45deg, 
        #264653 0, #264653 2.5px,
        #191515 2.5px, #241a1a 5px
    );
    
    /* Ajouter d'autres styles au besoin */
    margin: 0;
    padding: 0;
    /* height: 100vh; 100% de la hauteur de la vue */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

#hiddenElem{
  display: none;
}


/*=============== LOGIN ===============*/
.login {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    opacity: 50%;
    font-weight: bold;
  }

  .login_form {
    position: relative;
    background-color: black;
    border: 2px solid var(--white-color);
    margin: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
  }

  .login_form input{
    margin-bottom: 15px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
  }

  .login_title {
    text-align: center;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 2rem;
  }

  .login_input {
    width: 100%;
    padding-block: .8rem;
    background: none;
    color: var(--white-color);
    position: relative;
    z-index: 1;
  }
  
 
  .login_input:focus + .login_label {
    top: -12px;
    font-size: var(--small-font-size);
  }
  #error_msg{
    color: red;
    text-align: center;
  }
  .login_button{
    width: 70%;
    height: 50px;
    border-radius: 5px;
    background-color: #241a1a;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    margin-left: 15%;
  }
  .login_button:hover{
    color: aqua;
    background-color: #264653;
  }

  /*=============== BREAKPOINTS ===============*/
  @media screen and (min-width: 576px) {
    .login {
      justify-content: center;
    }
    .login_form {
      width: 432px;
      padding: 4rem 3rem 3.5rem;
      border-radius: 1.5rem;
    }
    .login_title {
      font-size: 2rem;
    }
  }